<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.mapper.TestLoadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo1.entity.TestLoad">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="location" property="location"/>
        <result column="price" property="price"/>
    </resultMap>

    <select id="loadTest">
        #load data  infile '/usr/local/infobright-4.0.7-x86_64/data/est.csv' into table test.test_load fields terminated by ','lines terminated by '\r\n' (name,sex,age,location,price);
        load data local infile 'D:\\test\\test1.csv' into table test.test_load fields terminated by ','lines terminated by '\r\n' (name,sex,age,location,price);
    </select>
</mapper>
